//
$backgroundColor: #131516;
$canvasHeight: 140vw;

body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  height: 500vw;
}

canvas {
  margin: 0 auto;
  width: 100vw;
  height: $canvasHeight;
  background: $backgroundColor;
  display: block;
  opacity: 1;
  box-sizing: border-box;

  /* disable blue line around canvas on mobile */
  outline: none;
}

button {
  position: absolute;
  top: 5vw;
  left: 5vw;
}
