//
// Colors
$bodyColor: #121216;
$boxColor: linear-gradient(90deg, #fc4a1a 0%, #f7b733 100%);

// Body
body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: $bodyColor;
  height: 500vw;
}

// Canvas
canvas {
  margin: 0 auto;
  width: 100vw;
  height: 215vw;
  display: block;
  box-sizing: border-box;
  transition: opacity 700ms;
  -webkit-transition: opacity 700ms;
  -moz-transition: opacity 700ms;
  -ms-transition: opacity 700ms;
  -o-transition: opacity 700ms;
  /*disablebluelinearoundcanvasonmobile*/
  outline: none;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  canvas {
    height: 140vw;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
  canvas {
    height: 90vw;
  }
}

/* Laptop Large */
@media only screen and (min-width: 1440px) {
  canvas {
    height: 75vw;
  }
}

.theZoomOut {
  background-color: rgb(255, 255, 255);
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 20vw;
  left: 15vw;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.theZoomIn {
  background-color: rgb(255, 255, 255);
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 45vw;
  right: 15vw;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

// Box
.box {
  width: 100vw;
  height: 105vw;
  background: $boxColor;
}
