//
// Colors
$bodyColor: #1d1a1a;
$boxColor: linear-gradient(90deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%);

// Body
body {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: $bodyColor;
  height: 500vw;
}

// Canvas
canvas {
  margin: 0 auto;
  width: 100vw;
  height: 210vw;
  display: block;
  box-sizing: border-box;

  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;

  /*disablebluelinearoundcanvasonmobile*/
  outline: none;
}

// Box
.box {
  width: 100vw;
  height: 105vw;
  background: $boxColor;
}
